{% extends "base.html" %}
{% block content %}
    {% if notes %}
        <h1 class="my-5">These are the notes:</h1>

        <div class="row row-cols3 g-2 custom-color">
            {% for note in notes %}
                <div class="col">
                    <div class="p-3 border">
                        <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non"> 
                            <h3>{{ note.title }}</h3>
                        </a>
                        {{ note.text|truncatechars:10 }} 
                        <p>{{note.number}}</p>
                    </div>
                </div>
            {% endfor %}
            <form method="POST" action="{% url 'notes.new' %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary my-3">Create a new note</button>
            </form>
            <!-- go to chartview -->
    <a href="{% url 'chart_view' %}" class="btn btn-primary">Go to chart</a>
    <a href="{% url 'highest_data' %}" class="btn btn-primary">See the latest news</a>
        </div>
    {% else %}
    <h1 class="my-5">There are no entries</h1>
    <form method="POST" action="{% url 'notes.new' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary my-3">Create a new note</button>
    </form>

    


    

       
    {% endif %}
{% endblock %}
